name: CI
on:
  # Runs on all pushes to branches
  push:
  # Runs on all PRs
  pull_request:
  # Manual Dispatch
  workflow_dispatch:

jobs:
  lint_python:
    name: Lint Python Code
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Lint with Flake8
        run: |
          pip install --upgrade pip
          pip install .[dev]
          flake8 --statistics .

  check_paths:
    name: Run CI
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          pip install --upgrade pip
          pip install -e .[dev]
          pytest

  lint_verilog:
    name: Lint Verilog Code
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Check out siliconcompiler Git repository
        uses: actions/checkout@v4
        with:
          repository: siliconcompiler/siliconcompiler
          path: siliconcompiler

      - name: Set up Verible
        run: |
          ./siliconcompiler/setup/install-verible.sh
          echo /opt/verible/bin >> $GITHUB_PATH

      - name: Check format
        id: check-format
        run: |
          ./.github/workflows/bin/format_verilog.sh > files.txt
          cat files.txt
          git diff --exit-code

      - name: Check lint
        if: success() || steps.check-format.conclusion == 'failure'
        run: |
          verible-verilog-lint --rules_config ./.github/workflows/config/verible.rules `cat files.txt`
